<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorate="template">
<head>
	<meta charset="UTF-8">
	<title>Confirmation</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5 col-md-8 col-md-offset-2 col-xs-12">
			<div class="card">
			<div class="card-header card-header bg-dark text-white fs-5">Patient ajouté avec succès</div>
			<div class="card-body">
				    <div class="form-group mb-3 mt-3">
						<label class="fw-bold">ID:</label><span> </span><label class="form-label" th:text="${patient.id}"></label>		
					</div>
					<div class="form-group mb-3 mt-3">
						<label class="fw-bold">Nom: </label><span> </span><label class="form-label" th:text="${patient.name}"></label>		
				
					</div>
					<div class="form-group mb-3">
						<label class="fw-bold">Date de naissance: </label><span> </span><label class="form-label"  th:text="${patient.dateNaissance}"></label>
					</div>
					<div class="form-group mb-3">
						<label class="fw-bold">Score: </label><span> </span><label class="form-label" th:text="${patient.score}"></label>					
					</div>
					<div class="form-group mb-3">
						<label class="fw-bold">Malade: </label><span> </span><label class="form-label" th:text="${patient.malade}"></label>				
					</div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>