<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
 	  layout:decorate="template"
 	  >
<head>
	<meta charset="UTF-8">
	<title>Not Authorized</title>
</head>
<body>
<section layout:fragment="pageContent">
	<div class="container">
		<h3 class="text-danger text-center mt-5">Vous n'êtes pas autorisé à accéder à cette page </h3>
	</div>
</section>
</body>
</html>