<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
 	  layout:decorate="template"
 	  >
<head>
	<meta charset="UTF-8">
	<title>Home</title>
</head>
<body>
	<div layout:fragment="pageContent">
	<div class="container mt-5">
	<div class="card">
		<div class="card-header">Liste des patients</div>
		<div class="card-body">
		<form action="GET" th:action="@{patients}">
		<div class="row g-2 ">
		  <div class="col-sm">
		    <div class="form-floating">
		      <input class="form-control" type="text" name="keyword" id="keyword" th:value="${keyword}">
		     <label for="keyword">Mot clé</label>
		    </div>
			  </div>
	 	  <button class="btn btn-success col-sm-2">Chercher</button>
		</div>
		</form>
			<table class="table text-center">
				<tr>
					<th>ID</th><th>Nom</th><th>Date de naissance</th><th>Malade</th><th>Score</th><th sec:authorize="hasRole('ADMIN')">Actions</th>
				</tr>
				<tr th:each="p:${patients}">
					<td th:text="${p.id}"></td>
					<td th:text="${p.name}"></td>
					<td th:text="${p.dateNaissance}"></td>
					<td th:text="${p.malade}"></td> 
					<td th:text="${p.score}"></td> 
					<td sec:authorize="hasRole('ADMIN')"><a onclick="return confirm('Etes vous de vouloir supprimer ce patient?')" 
					class="btn btn-danger" th:href="@{deletePatient(id=${p.id},keyword=${keyword},page=${currentPage},size=${size})}">Supprimer</a>
					<a class="btn btn-primary" th:href="@{editPatient(id=${p.id})}">Modifier</a></td> 
				</tr>
			</table>
			<ul class="nav nav-pills">
				<li  th:each="page,status:${pages}">
					<a th:class="${status.index == currentPage?'btn btn-primary':'btn'}" 
					th:href="@{patients(page=${status.index},keyword=${keyword},size=${size})}" th:text="${status.index}"></a>
				</li>
			</ul>
		</div>
	</div>
</div>
	</div>
</body>
</html>